@charset "utf-8";
/**
 * green flat color css
 * @package Weluka
 * @since Weluka Theme 00 1.0
 * 　
 */

input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], input[type="tel"], input[type="datetime"], input[type="date"],
input[type="month"], input[type="week"], input[type="time"], input[type="datetime-local"], input[type="number"], textarea, select {
	border-color:#eee !important;
}

body { background: #fff; color: #757172; }
.logo { color:#252525; }
.page-title {
	font-size:24px;
	padding-left:20px;
	border:none;
	border-left:5px solid #7D9C0D;
}

a { color:#7D9C0D; }
a:hover, a:focus { color:#68810B; }

h1,h2,h3,h4,h5,h6 { color:#252525; }

blockquote { border-color: #7D9C0D; }

#weluka-main-footer { /*background-color:#f2f2f2;*/ border-top:2px solid #e8e8e8; }

/* main-nav */
#main-nav button {
	background-color: #7D9C0D;
  	border-color: #68810B;
}
	#main-nav a{
		color:#fff;
 	}

	#main-nav button:hover,
	#main-nav button:focus {
 		background-color: #68810B;
	}
	#main-nav button .icon-bar {
  		background-color: #fff;
	}

	#main-nav a:hover,
	#main-nav a:focus,
	#main-nav .open > a,
	#main-nav .open a:hover,
	#main-nav .open a:focus {
		color:#fff;
		background-color:#68810B;
		border-color:#7D9C0D;
	}

	#main-nav .nav{
		background-color: #7D9C0D;
		border-color:#68810B;
	}

/* list */
.weluka-list-media > .weluka-post-commentnum { color: #7D9C0D; }

/* pagination, postnav-link, comment-navigation */
.weluka-pagination span, .weluka-pagination a, .post-nav-link a, .comment-navigation a { color:#7D9C0D; background-color: #fff; }
.weluka-pagination a:hover, .post-nav-link a:hover, .comment-navigation a:hover { background: #7D9C0D; color: #fff; }
.weluka-pagination .current { background: #7D9C0D; color: #fff; }

/* comment */
.comment-list .reply a {
	border: 1px solid #7D9C0D;
}
#comments .required { color:#FF748A; }
.comment-form input[type="submit"] {
	background-color: #7D9C0D;
	color:#fff;
}
.comment-form input[type="submit"]:hover, .comment-form input[type="submit"]:focus {
	color:#fff;
	background:#68810B;
}

/**** [widget] ****/

/* wp calendar */
#calendar_wrap {
	color:#757172;
}
#wp-calendar caption {}
#wp-calendar thead th { background:#7D9C0D; color:#fff; }
#calendar_wrap tbody a, #calendar_wrap tfoot a { color:#757172; }
#wp-calendar caption {}
#wp-calendar tbody td a { background: #eee; }
#wp-calendar tbody td:hover { background: #eee; }

/* tagcloud */
.tagcloud a { background:#7D9C0D; color:#fff; }
.tagcloud a:hover { background:#68810B; color:#fff; }

/**** [end widget] ****/

/**** [bootstrap classes] ****/
/* text */
.weluka-text-muted{ color:#b1b1b1; }
.weluka-text-primary{ color:#7D9C0D; }

/* button */
.weluka-btn-default { color:#757172 !important; }

.weluka-btn-primary {
  background-color: #7D9C0D;
  border-color: #68810B !important;
}
.weluka-btn-primary:hover,
.weluka-btn-primary:focus,
.weluka-btn-primary.focus,
.weluka-btn-primary:active,
.weluka-btn-primary.active,
.open > .dropdown-toggle.weluka-btn-primary {
  background-color: #68810B;
  border-color: #7D9C0D !important;
}
.weluka-btn-primary.disabled,
.weluka-btn-primary[disabled],
fieldset[disabled] .weluka-btn-primary,
.weluka-btn-primary.disabled:hover,
.weluka-btn-primary[disabled]:hover,
fieldset[disabled] .weluka-btn-primary:hover,
.weluka-btn-primary.disabled:focus,
.weluka-btn-primary[disabled]:focus,
fieldset[disabled] .weluka-btn-primary:focus,
.weluka-btn-primary.disabled.focus,
.weluka-btn-primary[disabled].focus,
fieldset[disabled] .weluka-btn-primary.focus,
.weluka-btn-primary.disabled:active,
.weluka-btn-primary[disabled]:active,
fieldset[disabled] .weluka-btn-primary:active,
.weluka-btn-primary.disabled.active,
.weluka-btn-primary[disabled].active,
fieldset[disabled] .weluka-btn-primary.active {
  background-color: #7D9C0D;
  border-color: #68810B !important;
}
.weluka-btn-primary .badge {
  color: #7D9C0D;
}

.weluka-btn-link {
  color: #7D9C0D;
}
.weluka-btn-link:hover,
.weluka-btn-link:focus {
  color: #68810B;
}
.weluka-btn-link .badge {
  color: #7D9C0D;
  background-color:#fff;
}

.pagination > li > a,
.pagination > li > span {
  color: #7D9C0D;
  border-color: #eee;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  color: #7D9C0D;
  background-color: #eee;
  border-color: #eee;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #7D9C0D;
  border-color: #7D9C0D;
}

/* navbar */
.weluka-navbar-darkblue,
.weluka-navbar-darkblue .dropdown-menu,
.weluka-nav-bar-ham .nav.weluka-navbar-darkblue {
  background-color: #7D9C0D;
  border-color: #68810B !important;
}
	.weluka-navbar-darkblue a:hover,
	.weluka-navbar-darkblue a:focus,
	.weluka-navbar-darkblue .open > a,
	.weluka-navbar-darkblue .open a:hover,
	.weluka-navbar-darkblue .open a:focus,
	.weluka-navbar-darkblue .dropdown-menu a:hover,
	.weluka-navbar-darkblue .dropdown-menu a:focus {
		background-color:#68810B;
		border:#7D9C0D;
	}

	.weluka-navbar-darkblue .navbar-toggle,
	.weluka-nav-bar-ham .weluka-toggle.weluka-navbar-darkblue {
  		border-color: #7D9C0D;
	}
	.weluka-nav-bar-ham .weluka-toggle.weluka-navbar-darkblue {
  		border-color: #68810B;
  		background-color: #7D9C0D;
	}

	.weluka-navbar-darkblue .navbar-toggle:hover,
	.weluka-navbar-darkblue .navbar-toggle:focus,
	.weluka-nav-bar-ham .weluka-toggle.weluka-navbar-darkblue:hover,
	.weluka-nav-bar-ham .weluka-toggle.weluka-navbar-darkblue:focus {
 		background-color: #68810B;
	}
	.weluka-navbar-darkblue .navbar-collapse,
	.weluka-navbar-darkblue .navbar-form,
	.weluka-nav-bar-v.weluka-navbar-darkblue .nav,
	.weluka-nav-bar-v.weluka-navbar-darkblue .nav li,
	.weluka-nav-bar-ham .nav.weluka-navbar-darkblue {
    	border-color: #68810B !important;
	}


/* label */
.label-primary { background-color:#7D9C0D; }

/* panel */
.panel-primary {
  border-color: #7D9C0D;
}
.panel-primary > .panel-heading {
  background-color: #7D9C0D;
  border-color: #7D9C0D;
}
.panel-primary > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #7D9C0D;
}
.panel-primary > .panel-heading .badge {
  color: #7D9C0D;
}
.panel-primary > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #7D9C0D;
}

/* tab */
.nav-tabs a { color: #7D9C0D; }
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    background-color: #7D9C0D;
}
.nav-pills > li > a { color: #7D9C0D; }

/* bg */
.weluka-bg-primary { background-color: #7D9C0D; }
a.weluka-bg-primary:hover { background-color: #68810B; color:#fff; }

/* list */
.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
    background-color: #7D9C0D;
    border-color: #7D9C0D;
}

/**** [end bootstrap classes] ****/

